{namespace n=Tx_News_ViewHelpers}
<f:layout name="General"/>
<!--
	=====================
		Templates/News/List.html
-->

<f:section name="content">
	<f:if condition="{news}">
		<f:then>
			<f:if condition="{settings.templateLayout} == 1">
				<f:then>
					<h5 class="title-bg"><f:translate key="news" extensionName="typo3coder"/>
						<small><f:translate key="latest" extensionName="typo3coder"/></small>
						<button id="btn-blog-next" class="btn btn-inverse btn-mini" type="button">&raquo;</button>
						<button id="btn-blog-prev" class="btn btn-inverse btn-mini" type="button">&laquo;</button>
					</h5>
					<div id="blogCarousel" class="carousel slide ">
						<!-- Carousel items -->
						<div class="carousel-inner">
							<f:for each="{news}" as="newsItem" iteration="iterator">
								<f:render partial="List/Item" arguments="{newsItem: newsItem,settings:settings,iterator:iterator}" />
							</f:for>
						</div>
					</div>
				</f:then>
				<f:else>
					<f:if condition="{settings.templateLayout} == 2">
						<f:then>
							<h5><f:translate key="latest_posts" extensionName="typo3coder"/></h5>
							<ul class="post-list">
								<f:for each="{news}" as="newsItem" iteration="iterator">
									<li><n:link newsItem="{newsItem}" settings="{settings}">{newsItem.title}</n:link></li>
								</f:for>
							</ul>
						</f:then>
						<f:else>
							<div class="news-list-view">
								<f:if condition="{settings.hidePagination}">
									<f:then>
										<f:for each="{news}" as="newsItem" iteration="iterator">
											<f:render partial="List/Item"
													  arguments="{newsItem: newsItem,settings:settings,iterator:iterator}"/>
										</f:for>
									</f:then>
									<f:else>
										<n:widget.paginate objects="{news}" as="paginatedNews"
														   configuration="{settings.list.paginate}"
														   initial="{offset:settings.offset,limit:settings.limit}">
											<f:for each="{paginatedNews}" as="newsItem" iteration="iterator">
												<f:render partial="List/Item"
														  arguments="{newsItem: newsItem,settings:settings,iterator:iterator}"/>
											</f:for>
										</n:widget.paginate>
									</f:else>
								</f:if>
							</div>
						</f:else>
					</f:if>
				</f:else>
			</f:if>
		</f:then>
		<f:else>
			<div class="no-news-found">
				<f:translate key="list_nonewsfound"/>
			</div>
		</f:else>
	</f:if>
</f:section>
