<div class="mediaelement mediaelement-image">
	<f:if condition="{settings.detail.media.image.lightbox}">
		<f:then>
			<a rel="{settings.detail.media.image.lightbox}" title="{mediaElement.caption}" href="{f:uri.image(src:'{mediaElement.uid}' treatIdAsReference:1 maxWidth:'800')}">
				<f:image src="{mediaElement.uid}" treatIdAsReference="1" title="{mediaElement.originalResource.title}" alt="{mediaElement.originalResource.alternative}" maxWidth="{settings.detail.media.image.maxWidth}" maxHeight="{settings.detail.media.image.maxHeight}" />
			</a>
		</f:then>
		<f:else>
			<f:image src="{mediaElement.uid}" treatIdAsReference="1" title="{mediaElement.originalResource.title}" alt="{mediaElement.originalResource.alternative}" maxWidth="{settings.detail.media.image.maxWidth}" maxHeight="{settings.detail.media.image.maxHeight}" class="{settings.detail.media.image.class}" />
		</f:else>
	</f:if>
</div>
<f:if condition="{mediaElement.originalResource.description}">
	<p class="news-img-caption">
		{mediaElement.originalResource.description}
	</p>
</f:if>