{namespace n=Tx_News_ViewHelpers}

<f:if condition="{settings.cssFile}">
	<n:includeFile path="{settings.cssFile}" />
</f:if>

<div class="row">
	<div class="span12">
		<f:render section="content" />
	</div>
</div>