<f:layout name="Default" />
<f:section name="main">
<div class="color-bar-1"></div>
<div class="color-bar-2 color-bg"></div>

<div class="container">

	<div class="row header"><!-- Begin Header -->

		<!-- Logo
		================================================== -->
		<div class="span5 logo">
			<a href="/"><f:image src="EXT:typo3coder/Resources/Public/Images/sitelogo2.png" width="279" alt="{f:cObject(typoscriptObjectPath:'lib.siteName')}"/></a>
			<h5><f:cObject typoscriptObjectPath="lib.siteByLine"/></h5>
		</div>

		<!-- Main Navigation
		================================================== -->
		<div class="span7 navigation">
			<div class="navbar hidden-phone">
				<f:cObject typoscriptObjectPath="lib.mainMenu" />
			</div>

			<!-- Mobile Nav
			================================================== -->
			<f:cObject typoscriptObjectPath="lib.mainMenuMobile" />

		</div>

	</div>
	<!-- End Header -->

	<f:render partial="{layout}" arguments="{_all}"/>

	<div class="row">
		<ul class="pager"><f:cObject typoscriptObjectPath="lib.sectionNavigation" /></ul>
	</div>


</div> <!-- End Container -->

<!-- Footer Area
	================================================== -->

<div class="footer-container"><!-- Begin Footer -->
	<div class="container">
		<div class="row footer-row">
			<div class="span3 footer-col">
				<h5><f:translate key="about_us" extensionName="typo3coder"/></h5>
				<f:image src="EXT:typo3coder/Resources/Public/Backend/Images/LogoLogin.png" width="201" alt="{f:cObject(typoscriptObjectPath:'lib.siteName')}"/><br/><br/>
				<address>
					<strong><f:translate key="personal_website" extensionName="typo3coder"/></strong><br/>
					Hindeweide 18<br/>
					3437 EK  Nieuwegein<br/>
				</address>
				<ul class="social-icons">
					<f:cObject typoscriptObjectPath="lib.social" />
				</ul>
			</div>
			<div class="span3 footer-col">
				<h5><f:translate key="latest_tweets" extensionName="typo3coder"/></h5>
				<a class="twitter-timeline" height="300" href="https://twitter.com/jigalvh" data-widget-id="485531378398670848">Tweets by
					@jigalvh</a>
				<script>!function (d, s, id) {
					var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https';
					if (!d.getElementById(id)) {
						js = d.createElement(s);
						js.id = id;
						js.src = p + "://platform.twitter.com/widgets.js";
						fjs.parentNode.insertBefore(js, fjs);
					}
				}(document, "script", "twitter-wjs");</script>
			</div>
			<div class="span3 footer-col">
				<f:cObject typoscriptObjectPath="lib.newsFooter" />
			</div>
			<div class="span3 footer-col">
				<h5><f:translate key="flickr_photos" extensionName="typo3coder"/></h5>
				<div class="img-feed">
					<script type="text/javascript"
							src="http://www.flickr.com/badge_code.gne?count=9&amp;display=random&amp;size=square&amp;nsid=39771785@N04&amp;raw=1"></script>
				</div>
			</div>
		</div>

		<div class="row"><!-- Begin Sub Footer -->
			<div class="span12 footer-col footer-sub">
				<div class="row no-margin">
					<div class="span4"><span class="left">Copyright 2014 Jigal van Hemert. All rights reserved.</span></div>
					<div class="span4"><span class="center">
						<f:translate key="trademark" extensionName="typo3coder" htmlEscape="false" arguments="{0: '{f:translate(key:\'trademark_link\',extensionName:\'typo3coder\')}'}"/>
					</span></div>
					<div class="span4">
                            <span class="right">
								<f:cObject typoscriptObjectPath="lib.mainMenuFooter" />
                            </span>
					</div>
				</div>
			</div>
		</div>
		<!-- End Sub Footer -->

	</div>
</div><!-- End Footer -->

<!-- Scroll to Top -->
<div id="toTop" class="hidden-phone hidden-tablet">Back to Top</div>
</f:section>