<div class="span4">
	<h3>{data.header}</h3>

	<p class="lead">{data.subheader}</p>

	<f:format.html>{data.bodytext}</f:format.html>

	<f:if condition="{data.header_link}">
		<f:link.typolink parameter="{data.header_link}"><i class="icon-plus-sign"></i><f:translate key="read_more" extensionName="typo3coder" /></f:link.typolink>
	</f:if>
</div>