<div class="flexslider">
	<ul class="slides">
		<f:for each="{flexformData.images}" as="sliderImage">
			<li>
				<f:link.typolink parameter="{sliderImage.imageContainer.url}">
					<f:image width="770c" height="354c" src="{sliderImage.imageContainer.image}" treatIdAsReference="1"/>
				</f:link.typolink>
			</li>
		</f:for>
	</ul>
</div>
