<div class="carousel-inner">
	<f:for each="{flexformData.extensions}" as="extension" iteration="terIterator">
		<div class="item{f:if(condition:'{terIterator.isFirst}', then:' active')}">
			<p class="quote-text">
				<f:link.typolink parameter="{extensionContainer.extension.url}">
					{extensionContainer.extension.title}
				</f:link.typolink>
			{extensionContainer.extension.description}</p>
		</div>
	</f:for>
</div>