{namespace n=Tx_News_ViewHelpers}<!--
	=====================
		Partials/List/Item.html
-->
<div class="item{f:if(condition:'{iterator.isFirst}', then:' active')}">
	<n:excludeDisplayedNews newsItem="{newsItem}"/>
	<f:if condition="{newsItem.falMedia}">
		<!-- fal media preview element -->
		<f:then>
				<f:if condition="{newsItem.falMediaPreviews}">
					<f:then>
						<n:link newsItem="{newsItem}" settings="{settings}">
							<f:alias map="{mediaElement: newsItem.falMediaPreviews.0}">
								<f:if condition="{mediaElement.originalResource.type} == 2">
									<f:image src="{mediaElement.uid}" treatIdAsReference="1"
											 title="{mediaElement.originalResource.title}"
											 alt="{mediaElement.originalResource.alternative}"
											 maxWidth="{settings.list.media.image.maxWidth}"
											 maxHeight="{settings.list.media.image.maxHeight}"
											 class="align-left blog-thumb-preview"/>
								</f:if>
								<f:if condition="{mediaElement.originalResource.type} == 4">
									<f:render partial="Detail/FalMediaVideo" arguments="{mediaElement: mediaElement}"/>
								</f:if>
							</f:alias>
						</n:link>
					</f:then>
					<f:else>
						<f:if condition="{settings.displayDummyIfNoMedia}">
							<n:link newsItem="{newsItem}" settings="{settings}">
								<f:image src="{settings.list.media.dummyImage}" title="" alt=""
										 maxWidth="{settings.list.media.image.maxWidth}"
										 maxHeight="{settings.list.media.image.maxHeight}"
										 class="align-left blog-thumb-preview"/>
							</n:link>
						</f:if>
					</f:else>
				</f:if>

		</f:then>
		<f:else>

			<f:if condition="{newsItem.media}">
				<!-- media preview element -->
				<f:then>
						<f:if condition="{newsItem.mediaPreviews}">
							<f:then>
								<n:link newsItem="{newsItem}" settings="{settings}">
									<f:alias map="{mediaElement: newsItem.mediaPreviews.0}">
										<f:if condition="{mediaElement.type} == 0">
											<f:image src="uploads/tx_news/{mediaElement.image}" title="{mediaElement.title}"
													 alt="{mediaElement.alt}" maxWidth="{settings.list.media.image.maxWidth}"
													 maxHeight="{settings.list.media.image.maxHeight}"
													 class="align-left blog-thumb-preview"/>
										</f:if>
										<f:if condition="{mediaElement.type} == 1">
											<f:render partial="Detail/MediaVideo" arguments="{mediaElement: mediaElement}"/>
										</f:if>
										<f:if condition="{mediaElement.type} == 2">
											<f:render partial="Detail/MediaHtml" arguments="{mediaElement: mediaElement}"/>
										</f:if>
									</f:alias>
								</n:link>
							</f:then>
							<f:else>
								<f:if condition="{settings.displayDummyIfNoMedia}">
							<n:link newsItem="{newsItem}" settings="{settings}">
								<f:image src="{settings.list.media.dummyImage}" title="" alt=""
										 maxWidth="{settings.list.media.image.maxWidth}"
										 maxHeight="{settings.list.media.image.maxHeight}"
										 class="align-left blog-thumb-preview"/>
							</n:link>
								</f:if>
							</f:else>
						</f:if>

				</f:then>
				<f:else>
					<f:if condition="{settings.displayDummyIfNoMedia}">
						<f:then>
								<n:link newsItem="{newsItem}" settings="{settings}">
							<f:image src="{settings.list.media.dummyImage}" title="" alt=""
									 maxWidth="{settings.list.media.image.maxWidth}"
									 maxHeight="{settings.list.media.image.maxHeight}"
									 class="align-left blog-thumb-preview"/>
								</n:link>
						</f:then>
					</f:if>
				</f:else>
			</f:if>

		</f:else>
	</f:if>

	<div class="post-info clearfix">
		<h4>
			<n:link newsItem="{newsItem}" settings="{settings}">{newsItem.title}</n:link></h4>
		<ul class="blog-details-preview">
			<li><i class="icon-calendar"></i><strong>Posted on:</strong>
				<n:format.date format="{f:translate(key:'dateFormat')}">{newsItem.datetime}</n:format.date></li>
			<li></li>
			<li><i class="icon-user"></i><strong>Posted by:</strong>
				<f:if condition="{newsItem.author}">
					<span class="news-list-author">
						<f:translate key="author" arguments="{0:newsItem.author}"/>
					</span>
				</f:if>
			</li>
			<li></li>
			<li><i class="icon-tags"></i>
				<f:if condition="{newsItem.tags}">
					<!-- Tags -->
					<span class="news-list-tags">
						<f:for each="{newsItem.tags}" as="tag" iteration="tagIterator">
							{tag.title}<f:if condition="{tagIterator.isLast}"><f:else>,</f:else></f:if>
						</f:for>
					</span>
				</f:if>
			</li>
		</ul>
	</div>
	<p class="blog-summary">
		<f:if condition="{newsItem.teaser}">
			<f:then>
				<f:format.html><f:format.crop maxCharacters="{settings.cropMaxCharacters}" respectWordBoundaries="1">{newsItem.teaser}</f:format.crop></f:format.html>
			</f:then>
			<f:else>
				<f:format.html><f:format.crop maxCharacters="{settings.cropMaxCharacters}" respectWordBoundaries="1">{newsItem.bodytext}</f:format.crop></f:format.html>
			</f:else>
		</f:if>
		<n:link newsItem="{newsItem}" settings="{settings}" class="more">
			<i class="icon-plus-sign"></i><f:translate key="more-link"/>
		</n:link>

	<p>
</div>