<div class="row headline"><!-- Begin Headline -->

	<!-- Slider Carousel
	================================================== -->
	<div class="span8">
		<f:cObject typoscriptObjectPath="lib.content1"/>
	</div>

	<!-- Headline Text
	================================================== -->
	<div class="span4">
		<!--TYPO3SEARCH_begin-->
		<f:cObject typoscriptObjectPath="lib.content2"/>
		<!--TYPO3SEARCH_end-->
	</div>
</div>
<!-- End Headline -->

<div class="row">
	<!--TYPO3SEARCH_begin-->
	<f:cObject typoscriptObjectPath="lib.content0"/>
	<!--TYPO3SEARCH_end-->
</div>

<div class="row"><!-- Begin Bottom Section -->

	<!-- Blog Preview
	================================================== -->
		<f:cObject typoscriptObjectPath="lib.content4"/>

	<!-- Client Area
	================================================== -->
	<div class="span6">

		<h5 class="title-bg"><f:translate key="ter_extensions" extensionName="typo3coder"/>
			<small><f:translate key="in_ter" extensionName="typo3coder" /></small>
			<button id="btn-client-next" class="btn btn-inverse btn-mini" type="button">&raquo;</button>
			<button id="btn-client-prev" class="btn btn-inverse btn-mini" type="button">&laquo;</button>
		</h5>

		<!-- Client Testimonial Slider-->
		<div id="clientCarousel" class="carousel slide no-margin">
			<!-- Carousel items -->
			<f:cObject typoscriptObjectPath="lib.content5"/>
		</div>

		<!-- Client Logo Thumbs-->
		<!--<ul class="client-logos">-->
			<!--<li><a href="#" class="client-link"><img-->
					<!--src="typo3conf/ext/typo3coder/Resources/Public/Images/gallery/client-img-1.png" alt="Client"></a></li>-->
			<!--<li><a href="#" class="client-link"><img-->
					<!--src="typo3conf/ext/typo3coder/Resources/Public/Images/gallery/client-img-2.png" alt="Client"></a></li>-->
			<!--<li><a href="#" class="client-link"><img-->
					<!--src="typo3conf/ext/typo3coder/Resources/Public/Images/gallery/client-img-3.png" alt="Client"></a></li>-->
			<!--<li><a href="#" class="client-link"><img-->
					<!--src="typo3conf/ext/typo3coder/Resources/Public/Images/gallery/client-img-4.png" alt="Client"></a></li>-->
			<!--<li><a href="#" class="client-link"><img-->
					<!--src="typo3conf/ext/typo3coder/Resources/Public/Images/gallery/client-img-5.png" alt="Client"></a></li>-->
		<!--</ul>-->

	</div>

</div>
<!-- End Bottom Section -->
