		<!-- Main Wrapper -->
			<div class="wrapper wrapper-style2">
				<div class="title"><f:cObject typoscriptObjectPath="lib.pageTitle"/></div>
				<div class="container">
					<div class="row">
						<div class="12u">
							
							<!-- Main -->
								<div id="main">
									<div>
										<div class="row">
											<div class="4u">
												
												<!-- Sidebar -->
													<div id="sidebar">
														<!--TYPO3SEARCH_begin-->
														<f:cObject typoscriptObjectPath="lib.content1"/>
														<!--TYPO3SEARCH_end-->
													</div>
												<!-- /Sidebar -->
												
											</div>
											<div class="8u skel-cell-important">
											
												<!-- Content -->
													<div id="content">
														<!--TYPO3SEARCH_begin-->
														<f:cObject typoscriptObjectPath="lib.content0"/>
														<!--TYPO3SEARCH_end-->
													</div>
												<!-- /Content -->
											
											</div>
										</div>
									</div>
								</div>
							<!-- /Main -->
							
						</div>
					</div>
				</div>
			</div>
		<!-- /Main Wrapper -->

