@import url("http://fonts.googleapis.com/css?family=Noto+Sans:400,700italic,400italic,700&subset=latin,greek-ext,greek,latin-ext");
@font-face {
	font-family: 'Vollkorn';
	src: url('../Fonts/vollkorn/vollkorn-regular-webfont.eot?v=3.0005');
	src: url('../Fonts/vollkorn/vollkorn-regular-webfont.eot?#iefix&v=3.005') format('embedded-opentype'), url('../Fonts/vollkorn/vollkorn-regular-webfont.woff?v=3.005') format('woff'), url('../Fonts/vollkorn/Vollkorn-Regular.ttf?v=3.005') format('truetype'), url('../Fonts/vollkorn/Vollkorn-Regular.otf?v=3.005') format('opentype');
	font-weight: normal;
	font-style: normal;
}

/*@font-face {*/
/*font-family: 'Vollkorn';*/
/*src: url('../Fonts/vollkorn/vollkorn-bold-webfont.eot?v=3.0005');*/
/*src: url('../Fonts/vollkorn/vollkorn-bold-webfont.eot?#iefix&v=3.005') format('embedded-opentype'), url('../Fonts/vollkorn/vollkorn-bold-webfont.woff?v=3.005') format('woff'), url('../Fonts/vollkorn/Vollkorn-Bold.ttf?v=3.005') format('truetype'), url('../Fonts/vollkorn/Vollkorn-Bold.otf?v=3.005') format('opentype');*/
/*font-weight: bold;*/
/*font-style: normal;*/
/*}*/
@font-face {
	font-family: 'Vollkorn';
	src: url('../Fonts/vollkorn/vollkorn-semibold-webfont.eot?v=3.0005');
	src: url('../Fonts/vollkorn/vollkorn-semibold-webfont.eot?#iefix&v=3.005') format('embedded-opentype'), url('../Fonts/vollkorn/vollkorn-semibold-webfont.woff?v=3.005') format('woff'), url('../Fonts/vollkorn/Vollkorn-Semibold.ttf?v=3.005') format('truetype'), url('../Fonts/vollkorn/Vollkorn-Semibold.otf?v=3.005') format('opentype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Vollkorn';
	src: url('../Fonts/vollkorn/vollkorn-italic-webfont.eot?v=3.0005');
	src: url('../Fonts/vollkorn/vollkorn-italic-webfont.eot?#iefix&v=3.005') format('embedded-opentype'), url('../Fonts/vollkorn/vollkorn-italic-webfont.woff?v=3.005') format('woff'), url('../Fonts/vollkorn/Vollkorn-Italic.ttf?v=3.005') format('truetype'), url('../Fonts/vollkorn/Vollkorn-Italic.otf?v=3.005') format('opentype');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Vollkorn';
	src: url('../Fonts/vollkorn/vollkorn-bolditalic-webfont.eot?v=3.0005');
	src: url('../Fonts/vollkorn/vollkorn-bolditalic-webfont.eot?#iefix&v=3.005') format('embedded-opentype'), url('../Fonts/vollkorn/vollkorn-bolditalic-webfont.woff?v=3.005') format('woff'), url('../Fonts/vollkorn/Vollkorn-BoldItalic.ttf?v=3.005') format('truetype'), url('../Fonts/vollkorn/Vollkorn-BoldItalic.otf?v=3.005') format('opentype');
	font-weight: bold;
	font-style: italic;
}
html {
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	font-size: 14px;
	line-height: 18px;
	height: 100%;
}

sub,
sup {
	position: relative;
	font-size: 75%;
	line-height: 0;
	vertical-align: baseline;
}

sup {
	top: -0.5em;
}

sub {
	bottom: -0.25em;
}

body, .htmlarea-content-body {
	margin: 0;
	font-family: "Noto Sans", sans-serif;
	color: #333333;
	font-size: 14px;
	line-height: 18px;
	height: 100%;
	background: #f9f9f9 url(../../Images/subtle_grunge.png);
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a, a:hover {
	color: #d8450b;
}

p {
	margin: 0 0 10px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 10px 0;
	line-height: 1;
	color: inherit;
	text-rendering: optimizelegibility;
	font-family: "Vollkorn", serif;
	font-weight: bold;
	text-transform: uppercase;
}

h1 {
	font-size: 36px;
	line-height: 40px;
}

h2 {
	font-size: 30px;
	line-height: 40px;
}

h3 {
	font-size: 24px;
	line-height: 40px;
}

h4 {
	font-size: 18px;
	line-height: 20px;
}

h5 {
	font-size: 14px;
	line-height: 20px;
}

h6 {
	font-size: 12px;
	line-height: 20px;
}

h1, h2, h3, h4, h5 {
	text-shadow: 1px 1px 0 #fdfdfd, 2px 2px 0 rgba(81, 81, 81, 0.5), 0 0 1px #fdfdfd;
}

h1.title-bg, h2.title-bg, h3.title-bg, h4.title-bg, h5.title-bg, h6.title-bg {
	background: #f8f8f8;
	padding: 10px 5px;
	margin: 0px 0px 20px 0px;
	border-bottom: 1px dotted #a9a9a9;
	border-top: 1px dotted #a9a9a9;
}

ul,
ol {
	padding: 0;
	margin: 0 0 10px 25px;
}

ul ul,
ul ol,
ol ol,
ol ul {
	margin-bottom: 0;
}

li {
	line-height: 20px;
}

dl {
	margin-bottom: 20px;
}

dt,
dd {
	line-height: 20px;
}

dt {
	font-weight: bold;
}

dd {
	margin-left: 10px;
}

hr {
	margin: 20px 0;
	border: 0;
	border-top: 1px solid #eeeeee;
	border-bottom: 1px solid #ffffff;
}

blockquote {
	padding: 0 0 0 15px;
	margin: 0 0 20px;
	border-left: 5px solid #eeeeee;
}

blockquote p {
	margin-bottom: 0;
	font-size: 16px;
	font-weight: 300;
	line-height: 25px;
}

blockquote small {
	display: block;
	line-height: 20px;
	color: #999999;
}

blockquote small:before {
	content: '\2014 \00A0';
}

q:before,
q:after,
blockquote:before,
blockquote:after {
	content: "";
}

address {
	display: block;
	margin-bottom: 20px;
	font-style: normal;
	line-height: 20px;
}

code,
pre {
	padding: 0 3px 2px;
	font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
	font-size: 12px;
	color: #333333;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

code {
	padding: 2px 4px;
	color: #d14;
	background-color: #f7f7f9;
	border: 1px solid #e1e1e8;
}

pre {
	display: block;
	padding: 9.5px;
	margin: 0 0 10px;
	font-size: 13px;
	line-height: 20px;
	word-break: break-all;
	word-wrap: break-word;
	white-space: pre;
	white-space: pre-wrap;
	background-color: #f5f5f5;
	border: 1px solid #ccc;
	border: 1px solid rgba(0, 0, 0, 0.15);
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

pre.prettyprint {
	font-size: 12px;
}
